<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<table>
  <thead>
    <tr>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
      <th>F</th>
      <th>G</th>
      <th>H</th>
      <th>I</th>
      <th>Is complete</th>
      <th>Current player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.a %></td>
        <td><%= game.b %></td>
        <td><%= game.c %></td>
        <td><%= game.d %></td>
        <td><%= game.e %></td>
        <td><%= game.f %></td>
        <td><%= game.g %></td>
        <td><%= game.h %></td>
        <td><%= game.i %></td>
        <td><%= game.is_complete %></td>
        <td><%= game.current_player %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
