<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @game.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @game.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @game.c %>
</p>

<p>
  <strong>D:</strong>
  <%= @game.d %>
</p>

<p>
  <strong>E:</strong>
  <%= @game.e %>
</p>

<p>
  <strong>F:</strong>
  <%= @game.f %>
</p>

<p>
  <strong>G:</strong>
  <%= @game.g %>
</p>

<p>
  <strong>H:</strong>
  <%= @game.h %>
</p>

<p>
  <strong>I:</strong>
  <%= @game.i %>
</p>

<p>
  <strong>Is complete:</strong>
  <%= @game.is_complete %>
</p>

<p>
  <strong>Current player:</strong>
  <%= @game.current_player %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
